/*color*/
$primaryGreen: #dc8605;
$lightGreen: #ffe8c5;
$darkGreen: #734808;
$secondary: #d02121;
$grey: #b6ad9d;
$white: white;
$black: black;
/*font-size*/
$font-s: 1rem; /*16px*/
$font-m: 1.25rem; /*20px*/
$font-l: 1.5rem; /*24px*/
$font-xl: 2rem; /*32px*/
$font-xxl: 2.25rem; /*36px*/